.big-container {
  height: calc(100vh);

  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url(../bg.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
}
.sign-up-login {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 22rem;
  width: 60rem;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin: 3rem 0;
}

.text {
  color: #c6b9da;
  font-size: 48px;
  font-weight: 700;
}

.btn {
  background: #4c00b4;
  color: #fff;
  font-size: 2.5rem;

  cursor: pointer;
  align-items: center;
  width: 220px;
  height: 60px;
}
#email,
#password {
  padding: 0.8rem 1.2rem;
  width: 35rem;
}

.form {
  padding: 0.4rem 4rem;
  overflow: hidden;
  margin-left: 35rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
}

.submit-btn {
  background-color: #4c00b4;
  cursor: pointer;
  color: #fff;
  border: none;
  margin-right: 1rem;

  font-size: 1.6rem;
  padding: 1.2rem 2rem;
  border: 1px solid var(--color-grey-200);
  font-weight: 500;
}

.cancel-btn {
  background-color: #4c00b4;
  cursor: pointer;
  color: #fff;
  border: none;
  margin-right: 2rem;
  color: var(--color-brand-50);
  font-size: 1.6rem;
  padding: 1.2rem 2rem;

  font-weight: 500;
  color: var(--color-grey-600);

  border: 1px solid var(--color-grey-200);
}

.form-row {
  display: grid;
  align-items: center;
  grid-template-columns: 24rem 1fr 1.2fr;
  gap: 2.4rem;
  margin-top: 2rem;
  padding: 1.2rem 0;
}

.error {
  font-size: 1.4rem;
  color: var(--color-red-700);
}
.label {
  font-weight: 500;
}
.submit-btn-login {
  display: flex;
  margin-top: 4rem;
  margin-left: 41rem;
}
.submit-btn-signup {
  display: flex;
  margin-top: 4rem;
  margin-left: 35rem;
}
